<div class="hds-nav-title">
  系统管理
</div>
<nav class="hds-links" id="hds-docs-nav">
  <ul class="nav flex-column ">
    <li class="nav-item">
      <a class="nav-link active" href="#">
        <div class="item-icon">
          <div class="hds-triangle-icon hds-triangle-icon-close"></div>
        </div>
        <div class="item-title">应用开发</div>
      </a>
      <ul class="nav flex-column collapse">
        <li class="nav-item">
          <a class="nav-link active" href="#">
            <div class="item-icon">
              <div class="hds-triangle-icon"></div>
            </div>
            <div class="item-title">接口调用</div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <div class="item-icon">
              <div class="hds-triangle-icon"></div>
            </div>
            <div class="item-title">签名管理</div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <div class="item-icon">
              <div class="hds-triangle-icon"></div>
            </div>
            <div class="item-title">模版管理</div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">
            <div class="item-icon">
              <div class="hds-triangle-icon"></div>
            </div>
            <div class="item-title">禁用项</div>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <div class="item-icon">
          <div class="hds-triangle-icon"></div>
        </div>
        <div class="item-title">业务统计</div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <div class="item-icon">
          <div class="hds-triangle-icon"></div>
        </div>
        <div class="item-title">帮助</div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <div class="item-icon">
          <div class="hds-triangle-icon"></div>
        </div>
        <div class="item-title">其他</div>
      </a>
    </li>
  </ul>

</nav>
