<script src="{{ site.cdn.jquery }}" integrity="{{ site.cdn.jquery_hash }}" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="{{ site.baseurl }}/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>

<script src="{{ site.baseurl }}/assets/js/vendor/popper.min.js"{% if site.github %} crossorigin="anonymous"{% endif %}></script>

{%- if site.github -%}
  <script src="{{ site.baseurl }}/dist/js/bootstrap.min.js"  crossorigin="anonymous"></script>
{%- else -%}
  <script src="{{ site.baseurl }}/dist/js/bootstrap.js"></script>
{%- endif -%}

{%- if site.github -%}
  <script src="{{ site.baseurl }}/assets/js/hds.min.js"></script>
{%- else -%}
  <script src="{{ site.baseurl }}/assets/js/vendor/anchor.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/vendor/clipboard.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/vendor/holder.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/src/application.js"></script>
{%- endif -%}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115001639-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  setTimeout(function(){
    gtag('js', new Date());

    gtag('config', 'UA-115001639-3');
  },2000);
  window.ga=gtag;
</script>
