<!doctype html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  <body>
    {% include skippy.html %}

    {% include docs-navbar.html %}

    <div class="container-fluid">
      <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-3 col-xl-2 hds-sidebar">
          {% include docs-sidebar.html %}
        </div>
        <main class="col-12 col-md-9 col-xl-10 py-md-3 pl-md-3 hds-content" role="main">
          {{ content }}
        </main>
      </div>
    </div>

    {% include scripts.html %}
  </body>
</html>
